@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

.headerStyles a:hover {
  color: #61dec8;
  background-color: #265d69;
}

.headerStyles a {
  border-radius: 5px;
  padding: 10px;
  color: #d1dad8;
  transition: background-color 0.2s ease-in;
  font-size: 14px;
}

.hero {
  /* background-color: aquamarine; */
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  padding-top: 70px;
}

.hero h1,
.hero h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  color: #265d69;
  font-weight: 800;
  line-height: 1.1;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.hero h2 {
  margin-bottom: 30px;
  color: #5dc1ae;
  text-transform: uppercase;
}
.hero p {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.5;
  max-width: 70%;
  color: #6a817d;
}
.whatWeDo {
  /* background-color: aquamarine; */
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  padding-top: 50px;
}

.whatWeDoBody {
  padding-left: 50px;
}
.whoWeAre {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  padding-top: 50px;
  padding-bottom: 100px;
}
.whoWeAreBody {
  padding-left: 50px;
}

.whatWeDo h1,
.whoWeAre h1 {
  /* background-color: aquamarine; */
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  padding-top: 50px;
  color: #61dec8;
  text-transform: uppercase;
}
.whatWeDo h1,
.whoWeAre h1 {
  /* background-color: aquamarine; */
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  padding-top: 50px;
  color: #265d69;
}
.whatWeDo h3 {
  /* background-color: aquamarine; */
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  padding-top: 50px;
  color: #50b0a3;
}

.whatWeDo p,
.whoWeAre p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  max-width: 90%;
  color: #6a817d;
}
.whatWeDo ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  max-width: 70%;
  color: #4e615e;
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-size: 11qpx;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  width: 100vw;
  bottom: 0;
  left: 0px;
  padding: 30px;
}
.footer a {
  color: white;
  font-weight: 800;
}
