@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

.header {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  position: fixed;
  width: 100vw;
  height: 70px;
  z-index: 9999999999;
  top: 0;
}
.header > div {
  padding: 8px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.layoutstyles {
  max-width: 1500px;
  margin: 0 auto;
}

.header div div div {
  max-width: 200px !important;
}
.headerStyles a:hover {
  color: #61dec8;
  background-color: #265d69;
}

.headerStyles a {
  border-radius: 5px;
  padding: 10px;
  color: #50b0a3;
  transition: background-color 0.2s ease-in;
  font-size: 14px;
}
.servicesBg {
  background-image: url("../images/cpconceptp2.png");

  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  padding-top: 70px;
  background-size: 110vw;
  background-repeat: no-repeat;
  width: 100vw;
  left: 0px;
  height: 1330px;
  background-position-x: -5px;
  background-position-y: -58px;
  overflow: hidden;
  position: absolute;
  top: 741px;
  z-index: -9;
}
.hero {
  background-image: url("../images/cpconceptp1.png");

  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  padding-top: 70px;
  padding-left: 0;
  background-size: 103vw;
  background-repeat: no-repeat;
  width: 100vw;
  height: calc(100vh - 126px);
  background-position-x: -7px;
  background-position-y: -54px;
  overflow: hidden;
  margin-top: 64px;
  display: flex;
}
.hero > div {
  width: 40%;
}

.hero .heroImg {
  width: 60%;
  position: absolute;
  top: 10rem;
  right: -0rem;
}

.hero .heroImg > div {
  top: 30px;
  /* height: 99vh; */
  width: 75%;
  display: block !important;
  margin-right: 0;
}

.headerdiv {
  height: 18px;
  background-color: #265d69;
  position: absolute;
  z-index: 999999999;
  left: 0;
  width: 100vw;
}

.hero h1,
.hero h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: #265d69;
  font-weight: 800;
  line-height: 1.1;
  padding: 0;
  margin: 0;

  margin-top: 30px;
  text-transform: uppercase;
}
.hero h2 {
  margin: 0;
  margin-bottom: 40px;
  color: #5dc1ae;
  text-transform: uppercase;
}
.hero p {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.8;
  padding-left: 0px;
  max-width: 75%;
  color: #7397a3;
}
.whatWeDo {
  /* background-color: aquamarine; */
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  padding-top: 50px;
}

.whatWeDoBody {
  padding-left: 50px;
}
.whoWeAre {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  padding-top: 150px;
  padding-bottom: 10px;
}
.whoWeAreBody {
  padding-left: 50px;
}

.whatWeDo h1 {
  /* background-color: aquamarine; */
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  padding-top: 50px;
  color: #aaeded;
  text-transform: uppercase;
}

.whoWeAre h1 {
  /* background-color: aquamarine; */
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  padding-top: 50px;
  color: #265d69;
  text-transform: uppercase;
}
.whatWeDo h3 {
  /* background-color: aquamarine; */
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  padding-top: 20px;
  color: #e4f5f3;
}

.whatWeDo p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.7;
  max-width: 90%;
  color: #ffffff;
}

.whoWeAre p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.7;
  max-width: 90%;
  color: #7397a3;
}
.whatWeDo ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.1;
  max-width: 70%;
  color: #eef1f1;
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-size: 11qpx;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  width: 100vw;
  bottom: 0;
  left: 0px;
  padding: 30px;
}
.footer a {
  color: white;
  font-weight: 800;
}

.servicesBg {
  top: 786px;
}
.layoutstyles {
  max-width: 100% !important;
}
.hero {
  padding-left: 9%;
}
@media (max-width: 1460px) {
  .layoutstyles {
    max-width: 100%;
  }
  .hero {
    padding-left: 5%;
    font-family: "Montserrat", sans-serif;
    /* font-size: 36px; */
    /* padding-top: 70px; */
    background-size: 110vw;
    /* background-repeat: no-repeat;  */
    width: 100vw;
    height: calc(100vh - 120px);
    background-position-x: 0px;
    background-position-y: 0px;
    /* overflow: hidden; */
    /* margin-top: 51px; */
    display: flex;
  }

  .servicesBg {
    top: 636px;
  }
  .hero .heroImg {
    width: 50%;
    position: absolute;
    top: 10rem;
    right: 2rem;
  }

  .hero .heroImg > div {
    top: 0px;
    width: initial;
    display: inline-block !important;
  }
}

@media (max-width: 460px) {
  .hero {
    background-image: none;

    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    padding-top: 70px;
    background-size: initial;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-position-x: initial;
    background-position-y: initial;
    overflow: hidden;
    margin-top: 33px;
    left: 0;
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }

  .hero > div {
    width: 100%;
  }

  .hero h1,
  .hero h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #265d69;
    font-weight: 800;
    line-height: 1.1 !important;
    padding: 0;
    margin: 0;
    text-align: center;

    margin-top: 30px;
    text-transform: uppercase;
    padding: 0 20px;
  }
  .hero h2 {
    margin: 0;
    margin-bottom: 20px;
    color: #5dc1ae;
    text-transform: uppercase;
  }
  .hero p {
    font-size: 14px;
    text-align: center;
    max-width: 100%;
    padding: 0 30px;
  }
  .hero .heroImg {
    width: 84%;
    position: absolute;
    top: 27rem;
    right: 2rem;
  }
  .headerStyles {
    padding: 0px 0px;
  }

  .layoutstyles {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .header > div {
    margin: 0;
    max-width: 100%;
    padding: 10px 20px;
    padding-top: 11px;
    display: flex;
    justify-content: space-between;
  }

  .header > div > div {
    margin-top: 3px;
  }
  .headerdiv {
    width: 100vw;
  }
  .headerStyles > a {
    margin-right: 10px !important;
    font-size: 13px;
    line-height: 0.2;
    padding: 2px !important;
  }
  h1 {
    line-height: 0.6 !important;
  }
  .header .gatsby-image-wrapper {
    max-width: 100px !important;
  }
  .header div img {
    width: 100%;
    max-width: 150px;
  }

  .header div div div {
    max-width: 130px !important;
  }
  .whatWeDo {
    flex-direction: column-reverse;
    position: relative;
  }

  .whatWeDo h1 {
    font-size: 30px;
  }

  .whatWeDo > div {
    margin-top: 0 !important;
    width: 61%;
    right: 0px;
    margin-top: 17px;
    align-self: self-end;
  }

  .servicesBg {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    padding-top: 70px;
    background-size: 519vw;
    background-repeat: no-repeat;
    width: 100vw;
    left: 8px;
    height: 1254px;
    background-position-x: -586px;
    background-position-y: -93px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    top: 735px;
    z-index: -9;
  }

  .whatWeDoBody {
    width: 100% !important;
    padding-left: 30px;
  }

  .whatWeDo {
    background-color: rgba(0, 82, 78, 0.596);
  }

  .whoWeAre {
    background-color: #ffffff;
    padding-top: 0;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100% !important;
    padding-bottom: 50px;
  }

  .whoWeAre p {
    max-width: 100%;
  }

  .whoWeAreBody {
    width: 100% !important;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
  }
  .whoWeAre div:last-child {
    height: 230px;
    width: 70% !important;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 20px;
    margin-left: 20px;
    /* text-align: center; */
  }
}
